<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <title>Navegacion</title>
</head>

<body>
    <header>
        <div class="content">
            <div class="menu container">
                
                <a class="logo" href="/">
                    <i class="ri-home-line"></i><span>bisnesscontrol</span>
                </a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="../static/img/menu.png" class="menu-icono" alt="">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a class="texto {% if request.path == '/caja' %}active{% endif %}" href="/caja">Caja</a></li>
                        <li><a class="texto {% if request.path == '/arqueo' %}active{% endif %}" href="/arqueo">Arqueo</a></li>
                        <li><a class="texto {% if request.path == '/ventas' %}active{% endif %}" href="/ventas">Ventas</a></li>
                        <li><a class="texto {% if request.path == '/gastos' %}active{% endif %}" href="/gastos">Gastos</a></li>
                        <li><a class="texto {% if request.path == '/productos' %}active{% endif %}" href="/productos">Productos</a></li>
                        <li><a class="texto {% if request.path == '/proveedores' %}active{% endif %}" href="/proveedores">Proveedores</a></li>
                        <li><a class="texto {% if request.path == '/empleado' %}active{% endif %}" href="/empleado">Empleados</a></li>
                        <li><a class="texto {% if request.path == '/cliente' %}active{% endif %}" href="/cliente">Cliente</a></li>
                        <li><a class="texto {% if request.path == '/salir' %}active{% endif %}" href="/salir">Salir</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </header>

</body>

</html>